body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.furigana-toggle-position {
    justify-content: center;
    display: flex;
}

#snackbar {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7); /* Transparent background */
    color: #fff;
    text-align: center;
    border-radius: 25px; /* Rounded corners */
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%); /* Center horizontally */
    font-size: 17px;
    transition: all 0.3s ease; /* Smooth transition for resizing */
}
  
#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.3s 1.5s; /* Faster fadeout */
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadeout {
  from { bottom: 30px; opacity: 1; }
  to { bottom: 0; opacity: 0; }
}

/* Set gray background color and 100% height */
.maincanvas {
	background-color: #ffffff;
	height: 100%;
}

#link-refereces {
    text-align: center;
}

#right-part {
    padding-top: 0%;
    padding-bottom: 0%;
}

#right-part-bottom {
    padding: 5%;
    margin-top: -5%;
}

#right-part-bottom table th {
	color: #607f3a;
	font-size: 135%;
	font-weight: 510;
	white-space: nowrap;
	vertical-align: top;
}

#right-part-bottom table td {
	vertical-align: top;
}

#right-part-bottom table {
	border-collapse: collapse;
	border-spacing: 80px 4px;
	table-layout: auto;
}

#legend p {
	border: 1px solid #444;	
	border-radius: 6px;
	margin: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

#kanji-info-label {
    text-align: center;
}

.kanji-main {
	background: #98D2EB;
}

.kanji-other {
	background: #98D2EB;
}

.kanji-partof {
	background: #AA7BC3;
}

.kanji-radical {
	background: #85FF9E;
}

.kanji-shared-onyomi {
	background: #FFF07C;
}

.kanji-no-dict {
	border: 1px dashed #444 !important;
	background: #FF5A5F;
}

.kanji-ijidoukun {
	background: #EE964B;
}

th { text-align: right; }
td { vertical-align: top; }

/* xs < 768 */
@media screen and (max-width: 767px) {

    #help-group {
        margin-bottom: 5%;
    }

    #kanji777 {
        text-align: center;
        font-size: 10em;
        position: relative;
    }

	.maincanvas {
        height: auto;
    }

    .canvas-size {
        height: 30em;
    }

    .row.content {
        height: auto;
    }

    body {
        font-size: 0.9em;
    }

    .search-bar {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .additional-info {
        margin-top: -2%;
        margin-bottom: 2%;
    }

    .right-side-sub-scroll {
        max-height: 10%;
        overflow-y: scroll;
        overflow:auto;
        height: 100%;
        display:block;
    }

    #snackbar {
        min-width: 80%; /* Adjust as needed */
    }

}

/* sm */
@media screen and (min-width: 768px) {

    #kanji777 {
        text-align: center;
        font-size: 10em;
        position: relative;
    }

	.maincanvas {
        height: auto;
    }

    .canvas-size {
        height: 50em;
    }

    .row.content {
        height: auto;
    }

    body {
        font-size: 1em;
    }

    .search-bar {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .additional-info {
        margin-top: -2%;
        margin-bottom: 2%;
    }

    .right-side-sub-scroll {
        max-height: 10%;
        overflow-y: scroll;
        overflow:auto;
        height: 100%;
        display:block;
    }

    #snackbar {
        min-width: 60%; /* Adjust as needed */
    }

}

/* md */
@media screen and (min-width: 992px) {

    #kanji777 {
        text-align: center;
        font-size: 9em;
        position: relative;
    }

	.maincanvas {
        height: auto;
    }

    .canvas-size {
        height: 60em;
    }

    .row.content {
        height: auto;
    }

    body {
        font-size: 1.2em;
    }

    .search-bar {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .additional-info {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: -1%;
    }

    .right-side-sub-scroll {
        max-height: 10%;
        overflow-y: scroll;
        overflow:auto;
        height: 100%;
        display:block;
    }

    #snackbar {
        min-width: 40%; /* Adjust as needed */
    }

}

/* lg */
@media screen and (min-width: 1200px) {

    #kanji777 {
        text-align: center;
        font-size: 8em;
        position: relative;
    }
    
	.maincanvas {
        height: auto;
        border: 0px solid lightgray;
        border-radius: 0px;
    }

    .canvas-size {
        height: 60em;
    }

    .row.content {
        height: auto;
    }

    body {
        font-size: 1.3em;
    }

    .search-bar {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .additional-info {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: -1%;
    }

    .right-side-scroll {
        margin-top: -3%;
        overflow-y: scroll;
        height: 98%;
        display:block;
    }

    .right-side-sub-scroll {
        max-height: 10%;
        overflow-y: scroll;
        overflow:auto;
        height: 100%;
        display:block;
    }

    #snackbar {
        min-width: 30%; /* Adjust as needed */
    }

}

.remove-margin {
	margin: 0%;
}

.remove-padding {
	padding: 0%;
}

.colored-link {
    color: white;
    text-decoration: none;
    padding: 1%;
}

.colored-link:hover {
    color: whitesmoke;
}