body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Set gray background color and 100% height */
.maincanvas {
	background-color: #ffffff;
	height: 100%;
}

#link-refereces {
    text-align: center;
}

#right-part {
    padding: 5%;
    margin-top: -5%;
}

#right-part table th {
	color: #607f3a;
	font-size: 135%;
	font-weight: 510;
	white-space: nowrap;
	vertical-align: top;
}

#right-part table td {
	vertical-align: top;
}

#right-part table {
	border-collapse: collapse;
	border-spacing: 80px 4px;
	table-layout: auto;
}

#legend p {
	border: 1px solid #444;	
	border-radius: 6px;
	margin: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

#kanji-info-label {
    text-align: center;
}

.kanji-main {
	background: #ACEDED;
}

.kanji-other {
	background: #ACEDED;
}

.kanji-partof {
	background: #C5B7F1;
}

.kanji-radical {
	background: #B3F6B3;
}

.kanji-shared-onyomi {
	background: #FFD9BA;
}
.kanji-no-dict {
	border: 1px dashed #444 !important;
	background: #FFBABA;
}

.kanji-ijidoukun {
	background: #FFE270;
}

th { text-align: right; }
td { vertical-align: top; }

/* xs < 768 */
@media screen and (max-width: 767px) {

    #kanji777 {
        text-align: center;
        font-size: 10em;
        position: relative;
    }

	.maincanvas {
        height: auto;
    }

    .canvas-size {
        height: 30em;
    }

    .row.content {
        height: auto;
    }

    body {
        font-size: 0.9em;
    }

    .search-bar {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .additional-button {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .right-side {
        margin-top: 2%;
        overflow-y: scroll;
        height: 100vh
    }
}

/* sm */
@media screen and (min-width: 768px) {

    #kanji777 {
        text-align: center;
        font-size: 10em;
        position: relative;
    }

	.maincanvas {
        height: auto;
    }

    .canvas-size {
        height: 50em;
    }

    .row.content {
        height: auto;
    }

    body {
        font-size: 1em;
    }

    .search-bar {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .additional-info {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .right-side {
        margin-top: 2%;
        overflow-y: scroll;
        height: 100vh
    }
}

/* md */
@media screen and (min-width: 992px) {

    #kanji777 {
        text-align: center;
        font-size: 9em;
        position: relative;
    }

	.maincanvas {
        height: auto;
    }

    .canvas-size {
        height: 60em;
    }

    .row.content {
        height: auto;
    }

    body {
        font-size: 1.2em;
    }

    .search-bar {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .additional-info {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .right-side {
        margin-top: -2.5%;
        overflow-y: scroll;
        height: 100vh
    }
}

/* lg */
@media screen and (min-width: 1200px) {

    #kanji777 {
        text-align: center;
        font-size: 8em;
        position: relative;
    }
    
	.maincanvas {
        height: auto;
        border: 0px solid lightgray;
        border-radius: 0px;
    }

    .canvas-size {
        height: 60em;
    }

    .row.content {
        height: auto;
    }

    body {
        font-size: 1.3em;
    }

    .search-bar {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .additional-info {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 41%;
    }

    .right-side {
        margin-top: -3%;
    }

    .right-side-scroll {
        margin-top: -3%;
        overflow-y: scroll;
        height: 98%;
        display:block;
    }
}

.remove-margin {
	margin: 0%;
}

.remove-padding {
	padding: 0%;
}

.colored-link {
    color: white;
    text-decoration: none;
    padding: 1%;
}

.colored-link:hover {
    color: whitesmoke;
}